
<!DOCTYPE html>

<html ng-app="wishListApp" ng-csp>
  <head>
    <title>Wish List</title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="js/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="css/popup.css">
    
  </head>
  <body ng-controller="wishListCtrl">
  <h4>Wish List Creator</h4>
     <!-- <div class="message">message : {{ message }}</div> -->
     <input ng-model="test">
     <div class="product">Product Name: {{ productName }}</div>
     <div class="url">Product Url: {{ url }}</div>
     <!-- <div class="model">tab: {{ response }}</div> -->
    <form class="price-form" ng-submit="save()">
      <h4>Please include a price and hit submit to update your wish list.</h4>
      Price: <input type="number" ng-model="amount"><input type="submit">
      <!-- <span id="currency-default">{{ amount | currency }}</span> -->
    </form> 

    <div>{{test}}</div>
    <input ng-model="test">  
    <ul>
      <li ng-repeat='item in test'>
        <span>Product: {{item.Product}} </span> <br>  
        <span>Link:{{item.URL}}</span> <br> 
        <span>Price: ${{item.Price}}</span> <br> 
      </li>

    </ul> 
  </body>
</html>

