
<!DOCTYPE html>

<html ng-app="wishListApp" ng-csp>
  <head>
    <title>Wish List</title>
    <script src"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/styles/popup.css"></link>
  </head>
  <body>
    <div ng-controller="wishListCtrl" ng-model="getUrl()" class="container">
      <div class="row">
        <div class="col-xs-12" align="center">
          <h3>Wish List Creator</h3>
          <form class="price-form" ng-submit="save(); getUrl()">
            <label>Price: </label>
            <input type="number" ng-model="amount"/><input type="submit"/>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" align="center">
          <!-- <label>Search: </label> -->
          Search: <input type="text" ng-model="query">
                  </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ol>
            <li ng-repeat="item in list | filter:query">
              <!-- <img src="{{item.URL}}"> -->
              <span>Product: {{item.Product}}</span>
              Website: <a href="{{item.URL}}">link</a>
              <span>Price: ${{item.Price}}</span>
              <button type="button" class="btn btn-default" ng-click="delete(item)">Remove</button>

            </li>
          </ol>
        </div>
      </div>
    </div>
  </body>
</html>

