
body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 80%;
  background: #FFFBFC;
  width: 300px;
}

.container-fluid {
  border-radius: 10px;
  border-color: 'red';
}

h3, label, span {
  font-family: Tahoma, Geneva, sans-serif;
}

div {
  align: "center";
}
img {
  width: 50px;
}

